.calendar {
  border-radius: 1.6875rem;
  background: rgba(255, 255, 255, 0.57);
  display: flex;
  margin-top: 0.75rem;


  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 1.06rem;
    
  }

  &__title {
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 2rem;
    display: flex;
    align-items: center;


    width: 30rem;
    height: 3rem;
    border-radius: 1.6875rem;
    background: linear-gradient(
      90deg,
      #1870d8 0%,
      #359af6 47.92%,
      #97bef6 89.58%
    );
  }

  &__meetings {
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &-container {
        margin-left: 3rem;
    }
}

}
