.bio {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem;

  &__pfp {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    background-image: url("../../assets/pfp.jpg");
    background-size: 25rem;
    background-position: -4rem -2rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 4px 25px 3px rgba(0, 0, 0, 0.25);
  }

  &__who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  &__subheading {
    margin: 0;
  }
}
