.weather {
  border-radius: 1.6875rem;
  background: rgba(255, 255, 255, 0.57);
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  width: 20rem;
  height: 17.9375rem;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 6rem;
    }

    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;
    }

    &__geo {
      display: flex;
      flex-direction: column;
    }

    &__temp {
      color: #fff;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }

    &__location {
      color: #fff;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
  }
}
