.hero {
    height: 85vh;
    width: 44rem;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 25px 11px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  
    &__nav {
      background-color: #f9f9f9;
      width: 44rem;
      height: 2.1rem;
      border-radius: 1.5rem 1.5rem 0rem 0rem;
      display: flex;
      align-items: center;
    }
  
    &__icons {
      margin-left: 2rem;
  
      &--w {
        padding-left: 2rem;
      }
  
      &--waseem {
        padding-left: 0.2rem;
        font-weight: 400;
      }
    }
  
    &__searchbar {
      display: flex;
      align-items: center;
      height: 4rem;
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #f1f3f4;
      padding-bottom: 1rem;
  
      &-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
      }
  
      &-search {
        display: flex;
        width: 80%;
        height: 1.5rem;
        border: none;
        border-radius: 2rem;
        background-color: #f1f3f4;
        font-size: 1rem;
      }
  
      &-icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
  
      &--url {
        font-size: 0.8rem;
        font-weight: 400;
      }
  
      &--back {
        width: 20px;
      }
  
      &--forward {
        width: 20px;
      }
  
      &--refresh {
        width: 15px;
      }
  
      &--SSL {
        width: 10px;
      }
    }
  }