.navbar {
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0px -20px 40px 0px rgba(0, 0, 0, 0.25);
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__prompt {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    align-items: center;
    gap: 1rem;
  }

  &__search {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__mic {
    width: 1rem;
  }

  .system {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__logo {
      width: 2rem;
      height: 2rem;
      opacity: 70%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 2rem;
      
    }

    &__today {
      color: rgba(0, 0, 0, 0.5);
      text-align: right;
      font-family: Inter;
      font-size: 0.625rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    &__time {
      color: #000;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }

    &__icons {
      display: flex;
      width: 0.375rem;
      height: 0.5625rem;
      gap: .5rem;
      transform: translateX(-1rem);
    }
  }
}
